<h1>Аккаунт создан!</h1>
<p>Номер счета: {{account.accountNumber}}</p>
<p>Баланс: {{account.balance}} {{account.currency}}</p>
<p>Статус: {{account.status}}</p>
<p>Дата создания: {{formatDate account.createdAt}}</p>