<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Добро пожаловать в Ваш Банк</title>
    <link rel="stylesheet" href="/styles/homeStyle.css">
</head>
<body>
        <section class="greeting">
            <h2>Ваши средства</h2>
            <p>Баланс текущего счета: {{account.balance}} ₽</p>

            {{#if account.savingsBalance}}
                <p>Баланс сберегательного счета: {{account.savingsBalance}} ₽</p>
            {{/if}}
        
        {{#if upcomingPayments.length}}
  <div class="notifications">
    <h3>Ближайшие платежи по кредитам:</h3>
    <ul>
      {{#each upcomingPayments}}
        <li>
          {{formatDate this.date}}: {{this.amount}} {{this.currency}} 
          ({{this.loanId}})
        </li>
      {{/each}}
    </ul>
  </div>
{{/if}}
</section>
        <section class="bank-services">
            <h2>Возможности нашего банка</h2>
            <ul>
                <li><strong>Переводы:</strong> Быстрые и безопасные переводы между счетами.</li>
                <li><strong>Сберегательный счёт:</strong> Удобное хранение средств на сберегательном счёте.</li>
                <li><strong>Кредиты:</strong> Конкурентные ставки на кредиты.</li>
            </ul>
        </section>

        <section class="quick-actions">
    <h2>Быстрые действия</h2>
    <button onclick="location.href='/main/deposit'">Пополнить счет</button>
    <button onclick="location.href='/main/transfer'">Перевести средства на другой счёт</button>
    <button onclick="location.href='/main/saving-account/create'">Создать сберегательный счет</button>
    <button onclick="location.href='/main/loans/new'">Оформить кредит</button>
</section>

        <section class="recent-transactions">
    <h2>Последние транзакции</h2>
    
    <button onclick="location.href='/main/transactions'">Посмотреть историю транзакций</button>
</section>
    <script src="/scripts.js"></script>
</body>
</html>